# =====================================================================
# Root CA zentrale Konfiguration
# =====================================================================

# --- Basisverzeichnisse ---
BASE_DIR="/home/bernd/my-root-ca"
CA_DIR="/home/bernd/my-root-ca/ca"
ISSUED_DIR="/home/bernd/my-root-ca/issued"
ARCHIVE_DIR="/home/bernd/my-root-ca/issued/archive"
EXPORT_DIR="/home/bernd/my-root-ca/ca/apache-crl" # Speicherort für Apache CRL
CA_PASS_FILE="/home/bernd/my-root-ca/ca/private/ca.pass"
CA_CONF_FILE="/home/bernd/my-root-ca/ca/openssl.cnf"

# --- CA Identität ---
CA_COUNTRY="AT"
CA_STATE="Vienna"
CA_LOCALITY="Vienna"
CA_ORG="BMGNET"
CA_COMMON_NAME="BMGNET Internal Root CA"
CA_EMAIL="ca-admin@bmgnet.loc"

# --- CA Zertifikat Erweiterung ---
CA_CRL_URI="URI:http://my-root-ca.bmgnet.loc/crl/ca.crl"
CA_CRL_URI2="URI:http://pki.bmgnet.loc/crl/ca.crl"

# --- Sicherheit ---
CA_KEY_BITS=4096
CA_VALID_DAYS=3650

# --- CERT Sicherheit ---
CERT_DAYS=825             # ~27 Monate
CERT_KEY_BITS=4096        # Standard auf 4096 Bits erhöht (wie in openssl.cnf req-Sektion)
CERT_KEY_ALGO="rsa"       # Kann auf "ed25519" oder "rsa" gesetzt werden